h2 {
    border-inline-start: 4px solid white;
    padding-inline-start: 10px;
    margin-inline-start: -20px;
}

h1 {
    align-self: center;
    font-size: 1.7rem;
    font-weight: 600;
}
.container {
    margin-top: 50px;
    direction: ltr;
    align-items: unset;
    padding-inline-start: 80px;
}

ul>li {
    margin-bottom: 10px;
    line-height: 1.2rem;
}

.hidden {
    display: none;
}