#request-table, #provide-table {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

#request-table th, #provide-table th {
    padding-block: 20px;
    padding-inline: 5px;
    border: 2px solid #333333;
}

#request-table td, #provide-table td {
    display: flex;
    flex-direction: column;
    padding-block: 20px;
    padding-inline: 5px;
    border: 2px solid #333333;
    border-inline-start: none;
    margin: -1px;
}

#request-table td div, #provide-table td div {
    display: flex;
    flex-direction: row;
}

#provide-table {
    margin-top: -50px;
}

#submit {
    margin-top: 20px;
    font-size: 1.5em;
    padding: 5px;
    width: 100px;
    height: 46px;
    cursor: pointer;
    font-weight: 400;
}

#language-switch {
    background-color: #2b2a33;
    border: 1px solid #8f8f9d;
    border-radius: 4px;
    width: 100px;
    height: 46px;
    margin-top: 20px;
    font-size: 1.2em;
    padding: 5px;
    cursor: pointer;
    font-weight: 400;
}

.row {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#submition-output {
    margin-top: 20px;
    text-align: center;
    unicode-bidi: embed;
}