#leaderboards {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: center;
}

.container h1 {
    font-size: 2em;
    margin-top: -1em;
}

#leaderboards tr:nth-child(2) td:last-child::after {
    content: "🥇";
}

#leaderboards tr:nth-child(3) td:last-child::after {
    content: "🥈"
}

#leaderboards tr:nth-child(4) td:last-child::after {
    content: "🥉";
}

#leaderboards tr:nth-child(2) td:last-child, #leaderboards tr:nth-child(3) td:last-child, #leaderboards tr:nth-child(4) td:last-child {
    font-weight: 600;
}